/*  UNIVERSAIS  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin-top: 80px;
    background-color: rgb(255, 227, 227);
}
footer{
    background-color: rgb(138, 70, 255);
    color: white;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2vw;
    padding-top: 5vw;
    margin-top: 3vw;
    font-size: 1.15vw;
}

/*  SCROLL  */
::-webkit-scrollbar {
    width: .75rem;
    background-color: rgb(138, 70, 255);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 101, 50) ;
    border-radius: 25px;
}


/*  FIXADA  */
.header{
    background-color: rgb(138, 70, 255); 
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: -80px;
    justify-content: space-between;
    position: fixed;
    font-size: 20px;
    animation: 1s header;
    z-index: 1;
}

/*  esquerda  */
.primeiroA{
    display: flex;
    align-items: center;
}
.primeiroA a{
    margin-left: 2.5vw;
    transition: all 0.25s;
}
.primeiroA a:hover{
    transform: scale(1.1);
}
.primeiroA img{
    scale: 0.7;
}

/*  direita  */
.segundoA svg{
    margin-right: 10px;
    scale: 1.1; 
    transition: all 0.25s;
}
.segundoA svg:hover{
    transform: scale(1.2);
}
.segundoA a{
    margin-right: 2vw;
}

/*  animation  */
@keyframes header{
    0%{
        opacity:0;
        margin-top: -90px;
    }
    100%{
        opacity:1;
        margin-top: -80px;
    }
}

/*  FOOTER  */
.redes img{
    width: 2vw;
}
.redes{
    display: flex;
    margin-top: 1vw;
    align-items:center;
}
.redes p{
    margin-left: .5vw;
}

/*  google maps  */
.google{
    background-color: black;
    color: white;
    padding: .5vw 10vw;
    font-size: 1.35vw;

    position: absolute;
    top: 63vw;
    border-radius: 2vw;
    transition: all .5s;
}
.google:hover{
    background-color: rgb(29, 29, 29);
    border-radius: 0;
}

/*  LOGAR  */
.container{
    display: flex;
}

/*  anúncio  */
.anuncio h1{
    margin-top: -10vw;
    width: 39vw;
    text-align: center;
    color: white;
    font-size: 4vw;
}
.anuncio img{
    width: 39vw;
}

/*  formulário  */
section{
    background-color: rgb(255, 101, 50);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    width: 40vw;
    height: 38vw;
    margin-top: 2vw;
    margin-left: 10vw;
}
section h2{
    font-size: 2.5vw;
}
section p{
    margin-top: 2vw;
}


input{
    background-color: rgb(138, 70, 255);
    padding: 1vw .5vw;
    border-radius: 2vw;
    color: white;
    border: none;
    transition: all .5s;
}
input:focus{
    border-radius: 0;
    text-decoration: none;
}

button{
    border: none;
    padding: 1vw;
    border-radius: 2vw;
    width: 15vw;
    transition: all .5s;
}
button:hover{
    border-radius: 0;
    cursor: pointer;
}

label{
    margin-top: 2vw;
}


.margin{
    margin-top: 2vw;
}

.back{
    width: 15vw;
    height: .8vw;
    margin-left: -2.98vw;
    background-color: rgb(138, 70, 255);
}

.back1{
    position: absolute;
    width: 43.95vw;
    height: 40vw;
    background-color: rgb(201, 147, 255);
    z-index: -1;
    top: -5vw;
    left: 55vw;
}

.input{
    display: flex;
    flex-direction: column;
    margin-top: -2vw;
}